
* {
    font-family: "DM Sants", sans-serif;
}
body {
    background-color: var(--preto);
    font-family: var(--font);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__nav {
    background-color: var(--cinza);
    border-radius: 9px;
    padding: 16px 0 0 16px;
}


.logo {
    background-color: var(--cinza);
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.logo img {
    width: 15vh;
}

.logo img:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
}

.nav__icons ul {
    margin-top: 15px;
    padding: 0 20px 10px 20px;
}

.nav__icons ul li {
    padding: 10px 10px;
}

.nav__icons ul li a {
    text-decoration: none;
    color: var(--cinza-claro);
    font-weight: 600;
    font-size: 14px;
}

.library {
    background-color: var(--cinza);
    border-radius: 9px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: var(--cinza-claro);
    font-weight: 600;
    font-size: 14px
}

.library__container {
    display: flex;
    justify-content: space-between;
    /* padding: 15px 0 12px 20px;
    font-size: 17px;
    font-weight: 500;
     */
}

.library__button {
    display: flex;
    margin-right: 10px;
    color:var(--cinza-claro);
    background: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;

}

.library__button .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 9px;
}

.library__container .fa-plus {
    margin: 24px 10px;
}



.section__playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--cinza-escuro);
    color: var(--cinza-claro);
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    margin: 8px 0;
    padding: 16px 20px;
}

.section__content {
    display: flex;
    flex-direction: column;
}

.section__content .text {
    padding-bottom: 14px;
    color: var(--branco);
}

.section__content .title {
    font-size: 18px;
    font-weight: 700;
}

.section__content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section__content .button__playlist {
    color: black;
    background-color: var(--branco);
    display: flex;
    justify-content: center;
    border-radius: 20px;
    font-size: 12px;
    padding: 8px;
    text-decoration: none;
    text-transform: none;
    margin-top: 12px;
    width: 140px;
}

.button__playlist:hover {
    background: transparent;
    color: var(--branco);
    border: 2px solid var(--branco);
}
.cookies {
    padding-left: 10px;
    margin: 40px 0;
}

.cookies a {
    color: var(--cinza-claro);
    font-weight: 600;
    font-size: 12px;
}

.cookies a:hover{
    text-decoration: underline;
}

.button__language {
    background: transparent;
    border-radius: 30px;
    border: 1px var(--branco) solid;
    color: var(--branco);
    padding: 10px;
    width: 150px;
    margin-bottom: 10px;

}

.button__language:hover  {
    background-color: var(--branco);
    color: var(--preto);
    font-weight: 400;
}