
/* example seria o pai, a propriedade maior e que afetaria todas as outras dentro dela, por isso o texte align funcionou nela e nao no example-item */

.example {
    color: white;
    text-align: justify;
    /* text-align-last: justify; :::sugestao do cara do comentario que tambem pode dar certo e que anularia o ::after  */
}

.example::after{
    content: '';
    width: 100%;
    display: inline-block;
}

.example-item {
    display: inline-block;
    width: 25%;
    height: 150px;
}

.example-item_first {
    background-color: blueviolet;
}

.example-item_second {
    background-color: brown;  
    
}

.example-item_third {
    background-color: chartreuse;
}